{% extends "base.html" %}

{% block footer %}
  <div class="ecosystem-links">
    <a href="https://brainlayer.etanheyman.com">BrainLayer</a>
    <span class="sep">/</span>
    <a href="https://voicelayer.etanheyman.com">VoiceLayer</a>
    <span class="sep">/</span>
    <a href="https://cmuxlayer.etanheyman.com">cmuxLayer</a>
    <span class="sep">/</span>
    <a href="https://github.com/EtanHey">Golems</a>
  </div>
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    // Inject back-to-site link into the header, after the title
    (function() {
      var title = document.querySelector('.md-header__title');
      if (!title) return;
      var link = document.createElement('a');
      link.href = 'https://brainlayer.etanheyman.com';
      link.className = 'header-back';
      link.innerHTML = '&larr; Site';
      title.after(link);
    })();
  </script>
{% endblock %}
