<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.brainlayer.p0-counter</string>
	<key>ProgramArguments</key>
	<array>
		<string>__BRAINLAYER_ENV_RUN__</string>
		<string>__BRAINLAYER_BIN__</string>
		<string>p0-counter</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:__HOME__/.local/bin</string>
		<key>PYTHONUNBUFFERED</key>
		<string>1</string>
		<key>BRAINLAYER_REPO_ROOT</key>
		<string>__BRAINLAYER_DIR__</string>
		<key>BRAINLAYER_ENV_FILE</key>
		<string>__BRAINLAYER_ENV_FILE__</string>
		<key>BRAINLAYER_LAUNCHD_SERVICE</key>
		<string>p0-counter</string>
	</dict>
	<key>StandardOutPath</key>
	<string>__HOME__/Library/Logs/brainlayer/p0-counter.out.log</string>
	<key>StandardErrorPath</key>
	<string>__HOME__/Library/Logs/brainlayer/p0-counter.err.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>5</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ExitTimeOut</key>
	<integer>60</integer>
	<key>LowPriorityIO</key>
	<true/>
	<key>SoftResourceLimits</key>
	<dict>
		<key>NumberOfFiles</key>
		<integer>4096</integer>
	</dict>
</dict>
</plist>
