<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.brainlayer.throughput-watchdog</string>
	<key>ProgramArguments</key>
	<array>
		<string>__BRAINLAYER_ENV_RUN__</string>
		<string>__PYTHON_BIN__</string>
		<string>__THROUGHPUT_WATCHDOG_SCRIPT__</string>
		<string>--json</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>__HOME__</string>
		<key>BRAINLAYER_ENV_FILE</key>
		<string>__BRAINLAYER_ENV_FILE__</string>
		<key>BRAINLAYER_LAUNCHD_SERVICE</key>
		<string>watch</string>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>60</integer>
	<key>ProcessType</key>
	<string>Background</string>
	<key>Nice</key>
	<integer>10</integer>
	<key>LowPriorityIO</key>
	<true/>
	<key>ExitTimeOut</key>
	<integer>30</integer>
	<key>SoftResourceLimits</key>
	<dict>
		<key>NumberOfFiles</key>
		<integer>4096</integer>
	</dict>
	<key>StandardOutPath</key>
	<string>__HOME__/Library/Logs/brainlayer/throughput-watchdog.out.log</string>
	<key>StandardErrorPath</key>
	<string>__HOME__/Library/Logs/brainlayer/throughput-watchdog.err.log</string>
</dict>
</plist>
